<!doctype html>
<html>
<head><title>Maps Scraper</title></head>
<body>
  <h1>Google Maps Business Scraper</h1>
  <form method="post">
    <label>City:<br>
      <input name="city" required value="Paphos, Cyprus" style="width:300px">
    </label><br><br>

    <label>Keyword:<br>
      <input name="keyword" required value="kids shop" style="width:300px">
    </label><br><br>

    <label>Max results:<br>
      <input name="max" type="number" value="50">
    </label><br><br>

    <button type="submit">Download CSV</button>
  </form>
</body>
</html>